/* * {
    border: solid;
} */

.form-container {
    display: flex;
    justify-content: center;
}

.alert {
    display: flex;
    justify-content: center;
}

.card-header {
    display: flex;
    justify-content: center;
}

td {
    width: 50%;
}

#clear-button {
    margin-left: 1rem;
}